/* Bookshelf list/table */
.table {
  width: 100%;
  border-collapse: collapse;
}

.table-body {
  background: rgb(219, 233, 250) none repeat scroll 0 0;
}

.table-head-item {
  padding: 6px 12px;
  width: 20%;
  font-size: 12px;
  font-weight: 500;
  color: rgba(0, 0, 0, .38);
  text-align: right;
  text-transform: uppercase;
}

.table-row:nth-child(even) {
  background: rgb(236, 243, 252) none repeat scroll 0 0;
}

.table-item {
  overflow: hidden;
  padding: 12px;
  height: 24px;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  text-overflow: ellipsis;
}

.table-head-item:not(:first-child):not(:last-child),
.table-item:not(:first-child):not(:last-child) {
  text-align: left;
}

.table-item:first-child {
  width: 5%;
}

.table-item:nth-child(2) {
  width: 30%;
}

.table-item:nth-child(3) {
  width: 25%;
}

.table-item:nth-child(4) {
  width: 10%;
}

.table-item:nth-child(5) {
  width: 10%;
}

.table-item:last-child {
  width: 10%;
  min-width: 100px;
}

.table-row--active {
  font-size: 30px;
  color: #fff;
  background: #4990e2;
}
